@media only screen and  (max-width: 1100px) {
	#app .el-aside {
		width: 150px !important;
	}
	#app .el-submenu__title .el-submenu__icon-arrow {
		right: 10px !important;
	}
	/* 装配端 */
	#canbtn {
		display: none;
	}
	.CreateModular .detailwrap .el-input-group {
		width: 370px !important;
	}
	.CreateModular .wrenchs, .CreateModular .taskList {
		width: 140px !important;
	}
	.CreateModular .modular_btn {
		font-size: 13px !important;
	}
	.CreateModular .modular_btn.modular_btn1 {
		padding: 12px 15px !important;
	}
	.CreateModular .modular_btn.modular_btn2 {
		padding: 7px 11px !important;
	}
	.CreateModular .modular_btn3 {
		font-size: 12px !important;
	}
	/* .CreateModular .modular_box {
		width: 200px !important;
	} */
	.CreateModular .modular_box .divcard {
		line-height: 1 !important;
	}
	.CreateModular .nullTableData {
		height: 172px !important;
	}
	.CreateModular .delivery .el-dialog {
		margin-top: 2vh !important;
		margin-bottom: 10px !important;
	}
	.CreateModular .delivery .deliverywrap .el-table {
		height: 371px !important;
		overflow: auto !important;
	}
	.CreateModular .delivery .chejianmingcehng .el-input, .CreateModular .delivery .kuaidileixing .el-input {
		width: 150px !important;
	}
	.CreateModular .parstlist .el-dialog {
		width: 1000px !important;
		margin-top: 2vh !important;
	}
	.Content .SearchInput .el-input {
		margin-left: 5px !important;
	}
	.Content .swiperbanner_container {
		height: 180px !important;
		margin-top: 0 !important;
		margin-bottom: 10px !important;
	}
	.Content .swiper-wrapper .swiper-slide {
		width: 196px !important;
		height: 156px !important;
	}
	.Content .swiper-wrapper .swiper-slide.swiper-slide-active {
		width: 200px !important;
		height: 160px !important;
	}
	.Content .swiperbanner_container .swiper-pagination {
		bottom: -20px !important;
	}
	.Content .swiper-container .swiper-button-next, .Content .swiper-container .swiper-button-prev {
		width: 50px !important;
		height: 80px !important;
		top: 40% !important;
	}
	.Content .partsbox .partsbox_box.box1 {
		width:40vw !important;
		margin-left: 5px !important;
	}
	.Content .partsbox .partsbox_box.box1 .video-js.vjs-fluid, .Content .partsbox .partsbox_box.box1 .video-js.vjs-16-9, .Content .partsbox .partsbox_box.box1 .video-js.vjs-4-3 {
		height: 218px !important;
	}
	.Content .partsbox .partsbox_box.box2 {
		width: 57vw !important;
		padding: 0 0px 0px 10px !important;
	}
	.Content .partsbox .partsbox_box.box2 .thisdetail {
		height: 270px !important;
		padding-top: 0 !important;
	}
	.Content .partsbox_box.box2 .thisdetail .detail {
		/* width: 150px !important; */
		font-size: 13px !important;
		margin: 5px !important;
		line-height: 1.5 !important;
	}
	.Content .partsbox_box.box2 .thisdetail .detail div span {
		width: 45px !important;
	}
	
	.Content .partsbox .partsbox_box.box3 {
		height: 95px !important;
	}
	.Content .partsbox .partsbox_box.box3 .thisupData {
		height: 95px !important;
	}
	.Content .partsbox .partsbox_box.box3 .el-upload-list--picture-card .el-upload-list__item, .Content .partsbox .partsbox_box.box3 .el-upload--picture-card {
		width: 95px !important;
		height: 95px !important;
	}
	.Content .partsbox .partsbox_box.box3 .el-upload--picture-card {
		line-height: 100px !important;
		height: 95px !important;
	}
	.Content .partsbox .partsbox_box.box3 .video-js.vjs-fluid, .Content .partsbox .partsbox_box.box3 .video-js.vjs-16-9, .Content .partsbox .partsbox_box.box3 .video-js.vjs-4-3 {
		height: 95px !important;
		width: 100% !important;
		border-radius: 5px !important;
		overflow: hidden !important;
	}
	.Content .partsbox .partsbox_box.box3 .demo1  {
		width: 150px !important;
		height: 95px !important;
	}
	.Content .partsbox .partsbox_box.box3 .demo1 .video-js .vjs-volume-panel,
	.Content .partsbox .partsbox_box.box3 .demo1 .video-js .vjs-time-divider,
	.Content .partsbox .partsbox_box.box3 .demo1 .video-js .vjs-duration {
		display: none !important;
	}
	.Content .partsbox .partsbox_box.box3 .video-js .vjs-progress-control {
		display: none !important;
	}
	.Content .partsbox .partsbox_box.box3 .video-js .vjs-custom-skin > .video-js .vjs-big-play-button {
		
	}
	.Content .drag_box {
		top: 60px !important;
		left: 215px !important;
	}
	.Content .torquewrench .el-dialog {
		margin-top: 2vh !important;
		margin-bottom: 0 !important;
	}
	.Content .torquewrench .Torquewrench .el-table.el-table2 {
		height: 350px !important;
	}
	
	/* 装配结束 */
	/* 暂存端 */
	/* 待入库 */
	.stockpend .stockpend_dialog .el-dialog {
		margin-top: 5vh !important;
		margin-bottom: 0 !important;
		width: 860px !important;
	}
	.stockpend .stockpend_dialog .stockpenddialog {
		height: 535px !important;
		overflow: auto !important;
	}
	.stockpend .stockpend_dialog .stockpenddialog .el-table {
		height: 480px !important;
	}
	/* 库存 */
	.Submit .el-dialog {
		margin-top: 2vh !important;
		margin-bottom: 0 !important;
		width: 1000px !important;
	}
	/* 出库,装盘,出库 */
	.new_out, .tray_enter, .tray_out {
		width: 100% !important;
		margin: 10px auto !important;
	}
	.new_out .out_wrap, .tray_enter .out_wrap, .tray_out .out_wrap {
		margin-top: 20px !important;
	}
	.new_out .main_del, .tray_enter .main_del, .tray_out .main_del {
		width: 100% !important;
		box-shadow: none !important;
		margin-top: 10px !important;
	}
	.List .el-dialog {
		margin-top: 2vh !important;
		margin-bottom: 0 !important;
		width: 1000px !important;
	}
	
	
	/* 暂存端结束 */
	
	/* 供应商端 */
	/* 订单管理-生产零件 */
	.Order .Orderdialog .el-dialog {
		width: 750px !important;
		margin-top: 2vh !important;
		margin-bottom: 0 !important;
	}
	/* 	生产计划-上传质检报告 */
	.Production .Productiondialog1 .el-dialog {
		width: 750px !important;
		margin-top: 3vh !important;
		margin-bottom: 0 !important;
	}
	.Production .Productiondialog1 .head_tab {
		margin-bottom: 5px !important;
	}
	.Production .Productiondialog1 .Batchdialog .demo-ruleForm {
		width: 400px !important;
	}
	.Production .Productiondialog1 .Batchdialog .demo-ruleForm .el-input, .Production .Productiondialog1 .Batchdialog .demo-ruleForm .el-select, .Production .Productiondialog1 .Batchdialog .demo-ruleForm .el-button {
		width: 290px !important;
	}
	.Production .Productiondialog1 .el-upload-dragger {
		width: 290px !important;
		height: 140px !important;
	}
	.Production .Productiondialog1 .el-upload-dragger .el-icon-upload {
	    font-size: 45px !important;
	    margin: 22px 0 13px !important;
	}
	.Production .Productiondialog1 .Singledialog .el-table {
		height: 438px !important;
	}
	/* 	生产计划-发货 */
	.Production .Productiondialog2 .el-dialog {
		margin-top: 8vh !important;
		margin-bottom: 0 !important;
	}
	/* 供应商端结束 */
}
